<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

    <Identity
      Name="Microsoft.SDKSamples.ActivitySensorCPP.CPP"
      Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
      Version="1.0.0.0" />

    <mp:PhoneIdentity PhoneProductId="f8ffce2e-44a6-4b54-94a6-5c491a7b7cf5" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

    <Properties>
        <DisplayName>ActivitySensorCPP</DisplayName>
        <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
        <Logo>Assets\StoreLogo-sdk.png</Logo>
    </Properties>

    <Dependencies>
        <TargetPlatform Name="Windows.Universal" MinVersion="10.0.10030.0" MaxVersionTested="10.0.10030.0" />
    </Dependencies>

    <Resources>
        <Resource Language="x-generate"/>
    </Resources>

    <Applications>
        <Application Id="App"
          Executable="$targetnametoken$.exe"
          EntryPoint="ActivitySensorCPP.App">
          <Extensions>
            <Extension Category="windows.backgroundTasks" EntryPoint="Tasks.ActivitySensorBackgroundTask">
              <BackgroundTasks>
                <Task Type="general"/>
              </BackgroundTasks>
            </Extension>
          </Extensions>
          <uap:VisualElements
              DisplayName="ActivitySensorCPP"
              Square150x150Logo="Assets\squareTile-sdk.png"
              Square44x44Logo="Assets\smallTile-sdk.png"
              Description="ActivitySensorCPP"
              ForegroundText="light"
              BackgroundColor="#00B2F0">
                <uap:SplashScreen Image="Assets\splash-sdk.png" />
                <uap:DefaultTile DefaultSize="square150x150Logo" >
                    <uap:ShowNameOnTiles>
                        <uap:ShowOn Tile="square150x150Logo" />
                    </uap:ShowNameOnTiles>
                </uap:DefaultTile>
            </uap:VisualElements>
        </Application>
    </Applications>

    <Capabilities>
        <!-- TODO: replace with "activity" when ready, for now use the raw GUID -->
        <DeviceCapability Name="9D9E0118-1807-4F2E-96E4-2CE57142E196" />
    </Capabilities>
</Package>
