#selectionTarget
{
    width: 200px;
    height: 200px;
    background-color: #C8C8C8;
    position: relative;
}

#selectionMark
{
    z-index: 1;
    position: relative;
    left: 180px;
    top: -100px; 
    width: 20px;
    color: #000000; 
    text-align: right; 
    font-family: 'Segoe UI Symbol';
}