/* styles */
/* Template for items in the ListView */
.VisitBackgroundEventsListViewItemStyle {
    width: 500px;
    padding: 4px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
}

/* CSS applied to the ListView */
#VisitBackgroundEventsListView {
    height: 240px;
    width: 500px;
    padding: 4px;
    border: solid 2px rgba(0, 0, 0, 0.13);
}