/* styles */
/* Template for items in the ListView */
.scenario4 .GeofenceListViewItemStyle {
    min-height: 42px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px;
}

/* CSS applied to the ListView */
.scenario4 #RegisteredGeofenceListView {
    height: 240px;
    width: 480px;
    max-width: 100%;
    border: solid 1px white;
}

.scenario4 #GeofenceEventsListView {
    height: 240px;
    width: 480px;
    max-width: 100%;
    border: solid 1px white;
}

.scenario4 input {
    margin: 10px;
    max-width: calc(100% - 20px);
}

.scenario4 .required-mark::before, .scenario4 label.required::before {
    color: red;
    font-weight: bold;
    content: '*';
}

.scenario4 fieldset {
    max-width: calc(100% - 20px);
}