<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

    <Identity
      Name="Microsoft.SDKSamples.ActivitySensorCS.CS"
      Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
      Version="1.0.0.0" />


    <mp:PhoneIdentity PhoneProductId="05777116-8530-42a2-914d-9dae4b4da01a" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

    <Properties>
        <DisplayName>ActivitySensorCS</DisplayName>
        <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
        <Logo>Assets\StoreLogo-sdk.png</Logo>
    </Properties>

    <Dependencies>
        <TargetPlatform Name="Windows.Universal" MinVersion="10.0.10030.0" MaxVersionTested="10.0.10030.0" />
    </Dependencies>

    <Resources>
        <Resource Language="x-generate"/>
    </Resources>

    <Applications>
        <Application Id="App"
          Executable="$targetnametoken$.exe"
          EntryPoint="ActivitySensorCS.App">
          <Extensions>
            <Extension Category="windows.backgroundTasks" EntryPoint="Tasks.ActivitySensorBackgroundTask">
              <BackgroundTasks>
                <Task Type="general"/>
              </BackgroundTasks>
            </Extension>
          </Extensions>
          <uap:VisualElements
              DisplayName="ActivitySensorCS"
              Square150x150Logo="Assets\StoreLogo-sdk.png"
              Square44x44Logo="Assets\SmallTile-sdk.png"
              Description="ActivitySensorCS"
              ForegroundText="light"
              BackgroundColor="#00b2f0">
                <uap:SplashScreen Image="Assets\Splash-sdk.png" />
                <uap:DefaultTile DefaultSize="square150x150Logo" >
                    <uap:ShowNameOnTiles>
                        <uap:ShowOn Tile="square150x150Logo" />
                    </uap:ShowNameOnTiles>
                </uap:DefaultTile>
            </uap:VisualElements>
        </Application>
    </Applications>

    <Capabilities>
        <!-- TODO: replace with "activity" when ready, for now use the raw GUID -->
        <DeviceCapability Name="9D9E0118-1807-4F2E-96E4-2CE57142E196" />
    </Capabilities>
</Package>
