<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

    <Identity
      Name="Microsoft.SDKSamples.$safeprojectname$.CPP"
      Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
      Version="1.0.0.0" />

    <mp:PhoneIdentity PhoneProductId="$guid1$" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

    <Properties>
        <DisplayName>$safeprojectname$ C++ Sample</DisplayName>
        <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
        <Logo>Assets\StoreLogo-sdk.png</Logo>
    </Properties>

    <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.16299.0" MaxVersionTested="10.0.16299.0" />
    </Dependencies>

    <Resources>
        <Resource Language="x-generate"/>
    </Resources>

    <Applications>
        <Application Id="$safeprojectname$.App"
          Executable="$targetnametoken$.exe"
          EntryPoint="$safeprojectname$.App">
            <uap:VisualElements
              DisplayName="$safeprojectname$ C++ Sample"
              Square150x150Logo="Assets\squareTile-sdk.png"
              Square44x44Logo="Assets\smallTile-sdk.png"
              Description="$safeprojectname$ C++ Sample"
              BackgroundColor="#00B2F0">
                <uap:SplashScreen Image="Assets\splash-sdk.png" />
                <uap:DefaultTile>
                    <uap:ShowNameOnTiles>
                        <uap:ShowOn Tile="square150x150Logo" />
                    </uap:ShowNameOnTiles>
                </uap:DefaultTile>
            </uap:VisualElements>
        </Application>
    </Applications>

    <Capabilities>
        <Capability Name="internetClient" />
    </Capabilities>
</Package>
