<configuration>
    <system.web>
        <!--
        APPLICATION-LEVEL TRACE LOGGING
        Application-level tracing enables trace log output for every page within an application. 
        Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
        trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
        application trace log by browsing the "trace.axd" page from your web application
        root. 
        -->
        <trace enabled="false"/>
        <httpRuntime maxRequestLength="122880" />
    </system.web>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="125829120" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>