.target
{
    width: 100px;
    height: 100px;
    float: left;
    position: inherit;
    background-color: #00B6FF;
    text-align: center;
    margin: 5px;
    float: left;
}

#spacingDiv
{
    width: 0px;
    height: 100px;
    position: inherit;
    float: left;
}