#myPanel
{
    position: fixed;
    right: 0px;
    top: 0px;
    width: 364px;
    height: 100%;
    color: white;
    background-color: #323232;
    opacity: 0;
    z-index: 1;
}

#myPanel p
{
    position: absolute;
    top: 40%;
    left: 40px;
    text-align: center;
    color: white !important;
}