#myEdgeUI
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 70px;
    color: white;
    background-color: #323232;
    visibility: hidden;
    z-index: 1;
}

#myEdgeUI p
{
    position: absolute;
    top: 40%;
    text-align: right;
    color: white !important;
}