/* styles */

.scenario3 #inputDiv
{
    border: 1px solid #000; /* black*/
    height:200px;
    width:600px;
    float:left;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-user-select: element;
}

.scenario3 #inputField/* Deliberatly making the text area unselectable*/
{
    height:50px;
    width:400px;
    float:left;
    margin-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: default;
    -ms-user-select: none;
    
}